body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  position: relative;
  height: 300px;
  width: 200px;
  background-color: darkgray;
  border-radius: 5px;
  flex-grow: 1;

  margin: 20px;
  text-align: center;
  overflow: hidden;
}
img {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 10px;
  z-index: 10;
}
div::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 50px;
  background-color: darksalmon;
  transform: translateX(-50%);
  border-radius: 5px;
}
